In [2]:
#import dependencies
import pandas as pd
import gmaps
import requests
#import the api key
from config import g_key

In [3]:
# store csv you created in part one into a df
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nouakchott,MR,2022-06-12 12:22:53,18.0858,-15.9785,98.53,34,43,10.09
1,1,Bud,US,2022-06-12 12:22:53,39.4470,-86.1758,69.82,97,57,5.99
2,2,Borogontsy,RU,2022-06-12 12:22:53,62.6683,131.1683,54.14,97,100,5.88
3,3,Rikitea,PF,2022-06-12 12:22:54,-23.1203,-134.9692,73.06,63,44,11.18
4,4,Punta Arenas,CL,2022-06-12 12:22:54,-53.1500,-70.9167,48.31,81,75,11.50

In [4]:
# get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
#heatmap of temps from google
#get lat/long pairs
locations =  city_data_df[['Lat', 'Lng']]

# get max temps
max_temp = city_data_df['Max Temp']

#assign figure var
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap var
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#add the heatmap layer
fig.add_layer(heat_layer)

#call fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.75/90
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
#filter dataset to find cities that meet temp criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']<=max_temp)&\
                                    (city_data_df['Max Temp']>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Kapaa,US,2022-06-12 12:22:54,22.0752,-159.3190,76.12,86,40,20.71
6,6,Banswada,IN,2022-06-12 12:22:55,18.3833,77.8833,87.48,51,99,5.66
8,8,Itacarambi,BR,2022-06-12 12:22:55,-15.1022,-44.0919,78.44,36,90,2.68
9,9,Cabo San Lucas,MX,2022-06-12 12:22:11,22.8909,-109.9124,79.90,71,6,12.03
12,12,Komsomolskiy,UZ,2022-06-12 12:18:22,40.4272,71.7189,86.72,28,71,13.80
16,16,Bredasdorp,ZA,2022-06-12 12:22:58,-34.5322,20.0403,77.23,21,100,9.46
17,17,Bose,IT,2022-06-12 12:22:58,45.4612,8.0137,85.06,45,22,5.12
18,18,Belmonte,BR,2022-06-12 12:22:58,-15.8631,-38.8828,76.39,76,96,1.90
21,21,Chiredzi,ZW,2022-06-12 12:22:59,-21.0500,31.6667,75.85,31,0,2.93
22,22,Alofi,NU,2022-06-12 12:23:00,-19.0595,-169.9187,75.09,94,58,1.14

In [12]:
preferred_cities_df.notnull().sum()

City_ID       206
City          206
Country       205
Date          206
Lat           206
Lng           206
Max Temp      206
Humidity      206
Cloudiness    206
Wind Speed    206
dtype: int64

In [13]:
preferred_cities_df = preferred_cities_df.dropna().head(195)

In [14]:
#create df called hotel_df to store hotel names with city,country,max temp, and coordinates
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hote Name']=''
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hote Name
5            Kapaa      US     76.12  22.0752 -159.3190
6         Banswada      IN     87.48  18.3833   77.8833
8       Itacarambi      BR     78.44 -15.1022  -44.0919
9   Cabo San Lucas      MX     79.90  22.8909 -109.9124
12    Komsomolskiy      UZ     86.72  40.4272   71.7189
16      Bredasdorp      ZA     77.23 -34.5322   20.0403
17            Bose      IT     85.06  45.4612    8.0137
18        Belmonte      BR     76.39 -15.8631  -38.8828
21        Chiredzi      ZW     75.85 -21.0500   31.6667
22           Alofi      NU     75.09 -19.0595 -169.9187

In [15]:
#set params to search for a hotel
url = r'https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters'
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
preferred_cities_df = preferred_cities_df.dropna().head(195)

In [17]:
#create df called hotel_df to store hotel names with city,country,max temp, and coordinates
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hote Name']=''
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hote Name
5            Kapaa      US     76.12  22.0752 -159.3190
6         Banswada      IN     87.48  18.3833   77.8833
8       Itacarambi      BR     78.44 -15.1022  -44.0919
9   Cabo San Lucas      MX     79.90  22.8909 -109.9124
12    Komsomolskiy      UZ     86.72  40.4272   71.7189
16      Bredasdorp      ZA     77.23 -34.5322   20.0403
17            Bose      IT     85.06  45.4612    8.0137
18        Belmonte      BR     76.39 -15.8631  -38.8828
21        Chiredzi      ZW     75.85 -21.0500   31.6667
22           Alofi      NU     75.09 -19.0595 -169.9187

In [18]:
#set params to search for a hotel

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

base_url = r'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

#iterate through the df

for index,row in hotel_df.iterrows():
    # get lat/long
    lat = row.Lat
    lng = row.Lng

    #add lat/lon to location key for params dict
    params['location'] = f'{lat},{lng}'

    # use search term 'lodging' and lat/long
    #make request and get json from search
    hotels = requests.get(base_url, params=params).json()
    # grab first hotel from results and store name
    try:
        hotel_df.loc[index,'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print(f'Hotel not found in {row.City}....skipping.')

Hotel not found in Olyka....skipping.
Hotel not found in Karagaylinskiy....skipping.
Hotel not found in Abu Samrah....skipping.
Hotel not found in Kodinsk....skipping.
Hotel not found in Merauke....skipping.
Hotel not found in Poum....skipping.
Hotel not found in Sapa....skipping.
Hotel not found in Boende....skipping.
Hotel not found in Kaa-Khem....skipping.
Hotel not found in Sasykoli....skipping.
Hotel not found in Pidhorodna....skipping.
Hotel not found in Bekhtery....skipping.
Hotel not found in Gamba....skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hote Name,Hotel Name
5,Kapaa,US,76.12,22.0752,-159.3190,,Sheraton Kauai Coconut Beach Resort
6,Banswada,IN,87.48,18.3833,77.8833,,KBR
8,Itacarambi,BR,78.44,-15.1022,-44.0919,,POUSADA CAMALEÃO
9,Cabo San Lucas,MX,79.90,22.8909,-109.9124,,Vista Roof Restaurant
12,Komsomolskiy,UZ,86.72,40.4272,71.7189,,Ikathouse
16,Bredasdorp,ZA,77.23,-34.5322,20.0403,,Bredasdorp Country Manor
17,Bose,IT,85.06,45.4612,8.0137,,Locanda Borgo Antico
18,Belmonte,BR,76.39,-15.8631,-38.8828,,Pousada Monte Carmelo O Pão
21,Chiredzi,ZW,75.85,-21.0500,31.6667,,Clevers Hotel Chiredzi
22,Alofi,NU,75.09,-19.0595,-169.9187,,Taloa Heights

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))