## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Buchanan,LR,80.35,light rain,5.8808,-10.0467,Kamaneahn Hotel Inc
1,2,Sao Filipe,CV,74.35,overcast clouds,14.8961,-24.4956,Hotel Xaguate
2,3,Vaini,TO,71.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,12,Salalah,OM,87.60,broken clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
4,13,Bitung,ID,79.65,broken clouds,1.4451,125.1824,K2 Lembeh

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City=='Banda Aceh']
vacation_end = vacation_df.loc[vacation_df.City=='Banda Aceh']
vacation_stop1 = vacation_df.loc[vacation_df.City=='Meulaboh']
vacation_stop2 = vacation_df.loc[vacation_df.City=='Sibolga'] 
vacation_stop3 = vacation_df.loc[vacation_df.City=='Padang']

In [17]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#type(vacation_start)
start = tuple(vacation_start[['Lat','Lng']].to_numpy()[0])
end = tuple(vacation_end[['Lat','Lng']].to_numpy()[0])
stop1 = tuple(vacation_stop1[['Lat','Lng']].to_numpy()[0])
stop2 = tuple(vacation_stop2[['Lat','Lng']].to_numpy()[0])
stop3 = tuple(vacation_stop3[['Lat','Lng']].to_numpy()[0])

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig2 = gmaps.figure(center=(30,31),zoom_level=1.5)
figure_layout = {
    'width': '100%',
    'height': '100%',
    'border': '1px solid black',
    'padding': '1px'
}
gmaps.figure(layout=figure_layout)

indonesia_coastal_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig2.add_layer(indonesia_coastal_trip)
fig2

Figure(layout=FigureLayout(height='420px'))

In [25]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,310,Banda Aceh,ID,81.00,light rain,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
1,273,Meulaboh,ID,77.94,overcast clouds,4.1363,96.1285,Kost Pria
2,484,Sibolga,ID,79.77,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
3,271,Padang,ID,77.05,overcast clouds,-0.9492,100.3543,Mercure Padang

In [26]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map.
fig3 = gmaps.figure(center=(2.0, 98.0), zoom_level=5.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig3.add_layer(marker_layer)

# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))